# -----------------------------
# 仮想環境フォルダ
# -----------------------------
myenv/

# -----------------------------
# データセット・秘密情報
# -----------------------------
# CSVファイルをすべて除外
*.csv

# エクセルファイルなどもあれば除外
*.xlsx
*.json

# -----------------------------
# 機械学習モデル・一時ファイル
# -----------------------------
# pklファイル（重たいバイナリファイルのため除外推奨）
*.pkl

# -----------------------------
# Pythonの自動生成ファイル
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# OS固有のファイル
# -----------------------------
.DS_Store